body 
{
	background: #274075;
	background: -moz-linear-gradient(top,  #274075 0%, #356aa0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#274075), color-stop(100%,#356aa0));
	background: -webkit-linear-gradient(top,  #274075 0%,#356aa0 100%);
	background: -o-linear-gradient(top,  #274075 0%,#356aa0 100%);
	background: -ms-linear-gradient(top,  #274075 0%,#356aa0 100%);
	background: linear-gradient(to bottom,  #274075 0%,#356aa0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#274075', endColorstr='#356aa0',GradientType=0 );
	color: white; 
}

textarea
{
	background: #BDD6DB;
	border-radius: 9px;
	width: 95%; 
	height: 250px; 
	margin: 0px 20px 20px;
	padding: 9px;
}

a
{
	color: lightBlue;
	text-decoration: none;
}